
body{

    background-color: rgb(248, 246, 246);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navBar{

   background-color: rgb(204, 204, 208);
   


}

.main-image{

    
  max-width: 100%;
  max-height: 100%;
  width: 1300px;
  height: 500px;
  margin-left: 75px;
  margin-right: 50px;
  border-radius: 10px;
  
        


}

.main-content{
 margin-top: 1px;
 width: auto;
 height: 400px;
 background-color: rgb(239, 239, 242);
 max-width: 100%;
 max-height: 100%;
 margin: 70px;

}

.contact-page{
  display: flex;
  justify-content: center;
  margin-top: 200px;
     


}